[submodule "libroot"]
	path = libroot
	url = https://github.com/Opa334/libroot.git
[submodule "TrollStore"]
	path = TrollStore
	url = https://github.com/opa334/TrollStore
[submodule "LLVM-On-iOS"]
	path = LLVM-On-iOS
	url = https://github.com/emexlab/LLVM-On-iOS
[submodule "ThirdParty/llama.cpp"]
	path = ThirdParty/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
